@model ThreadViewModel

@{
    ViewBag.Title = Model.ThreadTitle;
}

<!-- Page navigator -->
@Html.PageNavigationList("ViewThread", Model.Page, Model.LastPage, Model.Id, "threadview")
<!-- Thread title -->
<div class="PostTitle Outline">
    <strong>@Model.ThreadTitle</strong>
    @if (Model.AllowEditThread) 
    { 
        <ul class="postmenu">
            <li>
                @Html.ActionLink("Edit Thread", "EditThread", new { id = Model.Id })
            </li>
        </ul>
    } 
</div>
@foreach (var item in Model.PostList)
{
    Html.RenderPartial("ViewPostPartial", item);
} 
<!-- Page navigator -->
@Html.PageNavigationList("ViewThread", Model.Page, Model.LastPage, Model.Id, "threadview threadviewbottom") 
@if (Model.Locked)
{
    <img alt="locked" src="@Url.Content("~/Content/Images/threadclosed.gif")"/>
}
else
{
    @Html.ImageActionLink("Post reply", "Images/reply.gif", "Reply", new { id = Model.Id })
}

